@charset "UTF-8";

/* 부트스트랩 작성시 참고

그리드 gap
<div class="grid" style="row-gap: 0;">

// 간격
 <div class="row gx-3 gy-3">

d-flex flex-row
d-flex flex-column
d-flex justify-content-center
d-flex align-items-center // 1줄
align-content-center // 2줄
align-self-center // 하위 아이템

// 가운데정렬
부모 - position-relative
자식 - position-absolute top-50 start-50 translate-middle
자식 - 
 top: 50%; left: 50%; transform: translate(-50%, -50%)


이미지1 - <img class="rounded mx-auto d-block">
이미지2
<div class="text-center">
  <img src="..." class="rounded" alt="...">
</div>
 */

/* 웰컴체 Bold */
@font-face {
	font-family: "OTWelcomeBA";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* 웰컴체 Ragular */
@font-face {
	font-family: "OTWelcomeRA";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* reset 초기화설정 */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #000;
}

body {
	font-family: "OTWelcomeRA";
}

/* 작업편의용 : 향후 삭제 */
div[class~="border"] {
	
}

/* 공통설정 */

/* 회원가입 sinup */
.signup {
	width: 350px;
}

.navicon {
	margin-left: 1rem;
}

.navicon li img {
	width: 1rem;
	height: 1rem;
}

/* 푸터 */
.footerrow ul li {
	margin: 0 0.8rem;
	color: #999;
}

/* 메인컨텐츠츠 */
/* 이미지박스 */
.imgbox {
	display: block;
	margin: 0 auto;
}

/* 아이콘 */
.likeicon a img:hover {
	filter: invert(33%) sepia(100%) saturate(6230%) hue-rotate(331deg)
		brightness(101%) contrast(101%);
}

/* 미디어쿼리1 (320 - 575) : mobile - col- */
@media ( max-width : 575px) {
	.wrap {
		border: solid 5px red;
		font-family: "OTWelcomeRA";
	}

	/* 회원가입 페이지 */
	.signup {
		width: 320px;
	}

	/* 로그인 페이지 */
	/* 로그인 박스 */
	.left {
		display: none;
	}
	.loginright {
		width: 320px;
	}
	.signbox span {
		display: block;
	}

	/* mainpage - nav 서치바 감추기 */
	.searchbar {
		/* display: none !important; */
		display:none;
		visibility: hidden;
		width: 0px;
		background: red;
	}

	/* 메인페이지 좌측 이미지 */
	.imgbox {
		width: 100%;
		height: 100%;
		background: red;
	}
	.imgbox img {
		width: 100%;
		height: 100%;
	}

	/* 메인페이지 우측 히든 */
	#mainmycontents {
		display: none;
		visibility: hidden;
		height: 0;
		width: 0;
	}
}

/* 미디어쿼리2 (576 - 767) : tablet - col-sm */
@media ( min-width : 576px) and (max-width : 767px) {
	.wrap {
		border: solid 5px green;
		font-family: "OTWelcomeRA";
	}

	/* 로그인 페이지 */
	.left {
		display: none;
	}

	/* mainpage - nav 서치바 감추기 */
	.searchbar {
		/* display: none !important; */
		display:none;
		visibility: hidden;
		width: 0px;
		height: 0px;
	}

	/* 메인페이지 좌측 이미지 */
	.imgbox {
		width: 100%;
		height: 100%;
		background: green;
	}
	.imgbox img {
		width: 100%;
		height: 100%;
	}
}

/* 미디어쿼리3 (768 - 991) : pc - col-md */
@media ( min-width : 768px) and (max-width : 991px) {
	.wrap {
		border: solid 5px blue;
		font-family: "OTWelcomeRA";
	}
	/* 로그인 페이지 */
	.left {
		background-image:
			url(https://www.instagram.com/static/images/homepage/home-phones.png/38825c9d5aa2.png);
		background-size: 270px;
		height: 360px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.left .carousel {
		position: absolute;
		top: 50.8%;
		left: 59.5%;
		transform: translate(-50%, -50%)
	}
	.sliderimage {
		transform: scale(0.6);
	}

	/* 메인페이지 좌측 이미지 */
	.imgbox {
		width: 90%;
		height: 90%;
		background: blue;
	}
	.imgbox img {
		width: 100%;
		height: 100%;
	}

	/* 메인페이지 우측컨텐츠 */
}

/* 미디어쿼리4 (992 - 1348): wide-pc - col-lg */
@media ( min-width : 992px) /*(max-width : 1348px)*/ {
	.wrap {
		border: solid 5px gold;
		font-family: "OTWelcomeRA";
	}

	/* 로그인 페이지 */
	.left {
		background-image:
			url(https://www.instagram.com/static/images/homepage/home-phones.png/38825c9d5aa2.png);
		background-size: 450px;
		background-repeat: no-repeat;
		background-position: center;
		height: 600px;
	}
	.left .carousel {
		position: absolute;
		top: 50.8%;
		left: 59.5%;
		transform: translate(-50%, -50%)
	}

	/* 메인페이지 좌측 이미지 */
	.imgbox {
		width: 100%;
		height: 100%;
		background: gold;
	}
	.imgbox img {
		width: 100%;
		height: 100%;
	}
}